.my-masonry-grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 20px;
  /* gutter size */
  background-clip: padding-box;
  max-width: 250px
}

/* Style your items */
.my-masonry-grid_column>div {
  /* change div to reference your elements you put in <Masonry> */
  border: solid rgb(255, 255, 255) 1.7px;
  border-radius: 5px;
  margin-bottom: 20px;
}


nav {
  background-color: #1c232c;
  position: sticky;
  top: 0;
  padding: 15px 20px;
}

html {
  min-width: 540px;
}

body {
  white-space: nowrap;
  min-width: 540px;
  margin: 0;
  background-color: #131921;
  font-family: "Arial", Helvetica, sans-serif;
}

.bodyContainer {
  display: flex;
}

.bodyContent {
  margin: 20px 0 0 20px;
}

.sidebar {
  background: #10171f;
  width: 250px;
  height: 94vh;
  top: 57px;
  position: sticky;
}

.tooltip span {
  display: none;
}

.tooltip:hover span {
  background-color: #1c232c;
  border: solid 1px white;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.justifyStart {
  margin-right: auto;
}

input {
  outline: none;
}

.addInput {
  border-radius: 5px;
  background-color: #0d121b;
  margin-right: 5px;
  height: 20px;
  border-style: solid;
  border-width: 1px;
}

.formButton {
  padding: 4px 6px;
  background-color: #21262d;
  border: rgb(80, 83, 97) solid 1px;
  border-radius: 5px;
}

button:hover {
  background-color: #272a30;
}

.courseCellInput {
  background-color: #131921;
  font: inherit;
  font-style: italic;
  border: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}



.groupTitle {
  font-weight: bold;
  margin: 4px 0 3px 0;
}

.groupInternal {
  margin: 3px 5px 5px 5px;
  cursor: default;
}


.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

table {
  border-spacing: 0px;

}

td {
  border: 1px solid white;
}

tr:hover {
  background-color: #212631;
}



* {
  color: #ffffff;
}

.navLabel {
  margin: 0px;
}

h4 {
  margin: 10px 20px
}