.my-masonry-grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
  /* gutter size */
  background-clip: padding-box;
  max-width: 250px
}

/* Style your items */
.my-masonry-grid_column>div {
  /* change div to reference your elements you put in <Masonry> */
  border-color: red;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 30px;
}

/* .courseForm {
  margin: 10px
} */

body {
  background-color: #0d1117;
}

.tableDiv {
  display: inline-block;
  vertical-align: top;
}

.body {
  margin: 20px 0 0 20px;
}

* {
  color: #ffffff;
}

.navbar {
  background-color: #161b22;
  position: sticky;
  top: 0
}

h4 {
  margin: 10px 0 10px 20px
}